In [2]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("city_level_codebook_0.csv")

In [6]:
df.head()

,regionID,iso3c,country_name,city_name,incomeID,measurement,units,year,source,comments
0,SAS,AFG,Afghanistan,Jalalabad,LIC,population_population_number_of_people,# of people,2015.0,"Islamic Republic of Afghanistan. 2015. ""State ...",NaN
1,SAS,IND,India,Vishakhapatnam,LMC,population_population_number_of_people,# of people,2011.0,"Census of India. 2014. ""Databook for PC 2011.""...",NaN
2,LCN,COL,Colombia,Cali,UMC,population_population_number_of_people,# of people,2005.0,CCAC (Climate and Clean Air Coalition). n.d.(d...,NaN
3,SAS,AFG,Afghanistan,Kabul,LIC,population_population_number_of_people,# of people,2016.0,"World Bank. 2016b. ""Islamic Republic of Afgha...",NaN
4,SAS,AFG,Afghanistan,Hirat,LIC,population_population_number_of_people,# of people,2015.0,"UN DESA (United Nations, Department of Economi...",NaN

In [7]:
df1 = pd.read_csv("city_level_data_0_0.csv")

In [8]:
df1.head()

,iso3c,region_id,country_name,income_id,city_name,additional_data_annual_budget_for_waste_management_year,additional_data_annual_solid_waste_budget_year,additional_data_annual_swm_budget_2017_year,additional_data_annual_swm_budget_year,additional_data_annual_waste_budget_year,...,waste_treatment_compost_percent,waste_treatment_controlled_landfill_percent,waste_treatment_incineration_percent,waste_treatment_landfill_unspecified_percent,waste_treatment_open_dump_percent,waste_treatment_other_percent,waste_treatment_recycling_percent,waste_treatment_sanitary_landfill_landfill_gas_system_percent,waste_treatment_unaccounted_for_percent,waste_treatment_waterways_marine_percent
0,AFG,SAS,Afghanistan,LIC,Jalalabad,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN
1,AFG,SAS,Afghanistan,LIC,Kandahar,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN
2,AFG,SAS,Afghanistan,LIC,Mazar-E-Sharif,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN
3,AFG,SAS,Afghanistan,LIC,Kabul,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,75.0,NaN,NaN,NaN,25.0,NaN
4,AFG,SAS,Afghanistan,LIC,HiratÂ,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN

In [9]:
df2 = pd.read_csv("country_level_codebook.csv")
df2.head()

,regionID,iso3c,country_name,incomeID,measurement,units,year,source,comments
0,ECS,LUX,Luxembourg,HIC,special_waste_agricultural_waste_tons_year,tonnes/year,2014,"Eurostat. 2017a. ""Generation of waste by waste...",1; 2; 4
1,ECS,NOR,Norway,HIC,special_waste_agricultural_waste_tons_year,tonnes/year,2014,"Eurostat. 2017a. ""Generation of waste by waste...","1; HW includes waste containing oil, solvents,..."
2,MEA,MLT,Malta,HIC,special_waste_agricultural_waste_tons_year,tonnes/year,2014,"Eurostat. 2017a. ""Generation of waste by waste...",1; 2; 3; 4
3,EAS,NZL,New Zealand,HIC,special_waste_agricultural_waste_tons_year,tonnes/year,2014,"New Zealand, MFE (Ministry for the Environment...",CandD waste reported as over 3 million tonnes/...
4,EAS,JPN,Japan,HIC,special_waste_agricultural_waste_tons_year,tonnes/year,2010,"Modak, Prasad, Agamuthu Pariatamby, Jeffrey Se...",6 (excludes hazardous MSW); e-waste includes h...

In [10]:
df3 = pd.read_csv("country_level_data_0.csv")
df3.head()

,iso3c,region_id,country_name,income_id,gdp,composition_food_organic_waste_percent,composition_glass_percent,composition_metal_percent,composition_other_percent,composition_paper_cardboard_percent,...,waste_treatment_controlled_landfill_percent,waste_treatment_incineration_percent,waste_treatment_landfill_unspecified_percent,waste_treatment_open_dump_percent,waste_treatment_other_percent,waste_treatment_recycling_percent,waste_treatment_sanitary_landfill_landfill_gas_system_percent,waste_treatment_unaccounted_for_percent,waste_treatment_waterways_marine_percent,where_where_is_this_data_measured
0,ABW,LCN,Aruba,HIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11.0,NaN,89.0,NaN,NaN
1,AFG,SAS,Afghanistan,LIC,2.141361e+10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other
2,AGO,SSF,Angola,LMC,1.030423e+11,51.8,6.7,4.4,11.50,11.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ALB,ECS,Albania,UMC,1.347108e+10,51.4,4.5,4.8,15.21,9.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Some disposal sites
4,AND,ECS,Andorra,HIC,3.319880e+09,31.2,8.2,2.6,11.60,35.1,...,NaN,52.1,NaN,NaN,NaN,NaN,NaN,47.9,NaN,NaN

In [14]:
#fitrar en las bases de datos todas donde haya España
## COUNTRY LEVEL
(df3[(df3.country_name=='Spain')])

,iso3c,region_id,country_name,income_id,gdp,composition_food_organic_waste_percent,composition_glass_percent,composition_metal_percent,composition_other_percent,composition_paper_cardboard_percent,...,waste_treatment_controlled_landfill_percent,waste_treatment_incineration_percent,waste_treatment_landfill_unspecified_percent,waste_treatment_open_dump_percent,waste_treatment_other_percent,waste_treatment_recycling_percent,waste_treatment_sanitary_landfill_landfill_gas_system_percent,waste_treatment_unaccounted_for_percent,waste_treatment_waterways_marine_percent,where_where_is_this_data_measured
59,ESP,ECS,Spain,HIC,1.464509e+12,49.0,8.0,3.0,14.0,15.0,...,NaN,11.62,55.09,NaN,NaN,16.84,NaN,NaN,NaN,NaN

In [18]:
#fitrar en las bases de datos todas donde haya España
## COUNTRY LEVEL
(df2[(df2.country_name=='Spain')])

,regionID,iso3c,country_name,incomeID,measurement,units,year,source,comments
43,ECS,ESP,Spain,HIC,special_waste_agricultural_waste_tons_year,tonnes/year,2014,"Eurostat. 2017a. ""Generation of waste by waste...",1; 2; 4
68,ECS,ESP,Spain,HIC,waste_treatment_compost_percent,tonnes/year,2015,"Eurostat. 2017b. ""Municipal Waste by Waste Ope...",NaN
163,ECS,ESP,Spain,HIC,special_waste_construction_and_demolition_wast...,tonnes/year,2014,"Eurostat. 2017a. ""Generation of waste by waste...",NaN
688,ECS,ESP,Spain,HIC,waste_collection_coverage_total_percent_of_waste,Percent of waste,2015,"Eurostat. 2017b. ""Municipal Waste by Waste Ope...",NaN
689,ECS,ESP,Spain,HIC,waste_collection_coverage_total_percent_of_pop...,Percent of waste,2015,"Eurostat. 2017b. ""Municipal Waste by Waste Ope...",NaN
690,ECS,ESP,Spain,HIC,waste_collection_coverage_total_percent_of_hou...,Percent of waste,2015,"Eurostat. 2017b. ""Municipal Waste by Waste Ope...",NaN
691,ECS,ESP,Spain,HIC,waste_collection_coverage_total_percent_of_geo...,Percent of waste,2015,"Eurostat. 2017b. ""Municipal Waste by Waste Ope...",NaN
1445,ECS,ESP,Spain,HIC,special_waste_e_waste_tons_year,tonnes/year,2014,"Eurostat. 2017a. ""Generation of waste by waste...",NaN
1470,ECS,ESP,Spain,HIC,composition_food_organic_waste_percent,%,2012,"Spain, MAAMA (Ministry of Agriculture, Food an...",NaN
1678,ECS,ESP,Spain,HIC,composition_glass_percent,%,2012,"Spain, MAAMA (Ministry of Agriculture, Food an...",NaN
1891,ECS,ESP,Spain,HIC,special_waste_hazardous_waste_tons_year,tonnes/year,2014,"Eurostat. 2017a. ""Generation of waste by waste...",NaN
1953,ECS,ESP,Spain,HIC,waste_treatment_incineration_percent,tonnes/year,2015,"Eurostat. 2017b. ""Municipal Waste by Waste Ope...",NaN
2010,ECS,ESP,Spain,HIC,waste_treatment_landfill_unspecified_percent,tonnes/year,2015,"Eurostat. 2017b. ""Municipal Waste by Waste Ope...",NaN
2084,ECS,ESP,Spain,HIC,special_waste_medical_waste_tons_year,tonnes/year,2014,"Eurostat. 2017a. ""Generation of waste by waste...",NaN
2185,ECS,ESP,Spain,HIC,composition_metal_percent,%,2012,"Spain, MAAMA (Ministry of Agriculture, Food an...",NaN
2645,ECS,ESP,Spain,HIC,waste_treatment_other_percent,%,2012,"Spain, MAAMA (Ministry of Agriculture, Food an...",Food/organic includes food (7 percent) and org...
2646,ECS,ESP,Spain,HIC,composition_other_percent,%,2012,"Spain, MAAMA (Ministry of Agriculture, Food an...",Food/organic includes food (7 percent) and org...
2948,ECS,ESP,Spain,HIC,composition_paper_cardboard_percent,%,2012,"Spain, MAAMA (Ministry of Agriculture, Food an...",NaN
3045,ECS,ESP,Spain,HIC,composition_plastic_percent,%,2012,"Spain, MAAMA (Ministry of Agriculture, Food an...",NaN
3206,ECS,ESP,Spain,HIC,waste_treatment_recycling_percent,tonnes/year,2015,"Eurostat. 2017b. ""Municipal Waste by Waste Ope...",NaN
3399,ECS,ESP,Spain,HIC,total_msw_total_msw_generated_tons_year,tonnes/year,2015,"Eurostat. 2017b. ""Municipal Waste by Waste Ope...",NaN
3677,ECS,ESP,Spain,HIC,composition_wood_percent,%,2012,"Spain, MAAMA (Ministry of Agriculture, Food an...",NaN

In [19]:
#fitrar en las bases de datos todas donde haya España
## CITY LEVEL
(df1[(df1.country_name=='Spain')])

,iso3c,region_id,country_name,income_id,city_name,additional_data_annual_budget_for_waste_management_year,additional_data_annual_solid_waste_budget_year,additional_data_annual_swm_budget_2017_year,additional_data_annual_swm_budget_year,additional_data_annual_waste_budget_year,...,waste_treatment_compost_percent,waste_treatment_controlled_landfill_percent,waste_treatment_incineration_percent,waste_treatment_landfill_unspecified_percent,waste_treatment_open_dump_percent,waste_treatment_other_percent,waste_treatment_recycling_percent,waste_treatment_sanitary_landfill_landfill_gas_system_percent,waste_treatment_unaccounted_for_percent,waste_treatment_waterways_marine_percent
86,ESP,ECS,Spain,HIC,Pamplona,NaN,NaN,NaN,NaN,NaN,...,NaN,68.0,NaN,NaN,NaN,NaN,32.0,NaN,NaN,NaN
87,ESP,ECS,Spain,HIC,Madrid,NaN,NaN,NaN,NaN,NaN,...,5.0,29.0,10.0,NaN,NaN,36.0,10.0,NaN,NaN,NaN

In [20]:
(df[(df.country_name=='Spain')])

,regionID,iso3c,country_name,city_name,incomeID,measurement,units,year,source,comments
39,ECS,ESP,Spain,Madrid,HIC,population_population_number_of_people,# of people,2014.0,"European Commission. 2014k. ""Capital factsheet...",NaN
40,ECS,ESP,Spain,Pamplona,HIC,population_population_number_of_people,# of people,2016.0,"City Population. 2017g. ""Navarra."" Accessed Ju...",NaN
404,ECS,ESP,Spain,Pamplona,HIC,total_msw_total_msw_generated_tons_year,tonnes/year,2014.0,"Navarra, Department of Rural Development. 2016...",NaN
522,ECS,ESP,Spain,Madrid,HIC,total_msw_total_msw_generated_tons_year,tonnes/year,2014.0,"Community of Madrid, Ministry of the Environme...",NaN

In [3]:
ccaa = pd.read_csv("data/ccaa_residuos.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 29, saw 2